<% layout('/layouts/boilerplate') %>  <!-- This line tells EJS to use 'boilerplate.ejs' from the layouts folder as the layout -->

<div class="alert alert-danger d-flex align-items-center" role="alert">
  <i class="bi bi-exclamation-triangle-fill me-2" style="padding-bottom: 8px;"></i>
  <div>
    <h5><%= message %></h5>
  </div>
</div>